cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.1.0
mplcursors==0.2.1
numpy==1.22.0
psutil==5.6.3
pyparsing==2.4.0
PyQt5==5.12.3
PyQt5-sip==4.19.17
python-dateutil==2.8.0
six==1.12.0
QtAwesome==0.5.7
bidict==0.18.0
